@charset "utf-8";
html,
body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .wrap {
    margin: 0 30px;
  }
}
@media (max-width: 400px) {
  .wrap {
    margin: 66px 10px 0;
  }
}
.num {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Roboto", serif;
}
/*  */
/* アバウトエリア */
/*  */
.about {
  margin-top: 15%;
}
.container {
  display: flex;
  width: 100%;
  gap: 10%;
}
.img-area {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
.img-area img {
  width: 80%;
}
.text-area {
  width: 60%;
}
.tb {
  margin-bottom: 7%;
}
.lv1 {
  font-family: "Cinzel Decorative", serif;
  font-style: normal;
  margin-bottom: 10%;
}
td {
  font-size: 1.4rem;
  padding: 0 0 10px 10px;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-area {
    width: 70%;
  }
  .text-area {
    width: 70%;
  }
  .lv1 {
    font-size: 3.8rem;
    text-align: center;
    margin-top: 10px;
  }
}
.animation {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 30px);
  opacity: 0.6s ease;
  transform: 0.6s ease;
}

.animation.is-active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
