@charset "utf-8";
html,
body {
  overflow-x: hidden;
}
.wrap {
  position: relative;
}
@media (max-width: 768px) {
  .wrap {
    margin: 0 30px;
  }
}
@media (max-width: 400px) {
  .wrap {
    margin: 66px 10px 0;
  }
}
/* 写真と画像エリア */
.container1 {
  position: relative;
}

.content1 {
  display: flex;
  margin: 200px 0 400px;
  gap: 50px;
  animation: slide 1s ease;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.content2 {
  display: flex;
  flex-direction: row-reverse;
}

.content3 {
  display: flex;
  margin: 400px 0 200px;
  gap: 80px;
}

/* コンテンツごとの写真の大きさやP配置 */
.content1-img {
  width: 50%;
  margin: auto;
}

.content1-text {
  width: 45%;
  display: flex;
  justify-content: center; /* 水平方向の中央 */
  align-items: center; /* 垂直方向の中央 */
}
.content2-img {
  width: 50%;
}

.content2-text {
  width: 50%;
  display: flex;
  justify-content: center; /* 水平方向の中央 */
  align-items: center; /* 垂直方向の中央 */
  margin-right: 50px;
}
.pc-content3-img {
  width: 40%;
}
.sp-content3-img {
  display: none;
  width: 40%;
  transform: translateX(-20%);
}

.content3-text {
  width: 50%;
  display: flex;
  justify-content: center; /* 水平方向の中央 */
  align-items: center; /* 垂直方向の中央 */
  margin-left: 50px;
}
@media (max-width: 768px) {
  .content1 {
    display: block;
    margin-bottom: 150px;
  }
  .content1-img {
    width: 70%;
  }
  .content1-text {
    position: relative;
    right: -110px;
    top: -50px;
    width: 70%;
    padding: 20px;
    background: rgba(238, 238, 238, 0.4);
  }
  .content2 {
    display: block;
    margin-bottom: 200px;
  }
  .content2-img {
    position: relative;
    width: 90%;
    right: -20%;
  }
  .content2-text {
    position: relative;
    top: -100px;
    width: 65%;
    padding: 20px;
    background: rgba(238, 238, 238, 0.7);
  }
  .content3 {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .content3-text {
    transform: translate(50%, -100%);
    width: 60%;
    padding: 20px;
    background: rgba(238, 238, 238, 0.7);
  }
  .pc-content3-img {
    display: none;
  }
  .sp-content3-img {
    display: block;
    width: 60%;
  }
}

/*  */
/* img-box-area */
/*  */
.container2 {
  margin: 500px 0 300px;
}
.box {
  width: 100%;
  height: 70vh;
  position: relative;
}
.img-box1 {
  width: 20%;
  position: absolute;
  right: 10%;
  cursor: pointer;
  overflow: hidden;
}

.img-box2 {
  width: 20%;
  position: absolute;
  left: 10%;
  cursor: pointer;
  overflow: hidden;
}
.img-box3 {
  width: 20%;
  position: absolute;
  left: 50%;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 768px) {
  .container2 {
    margin: 500px 0 0;
  }
  .box {
    width: 100%;
    height: 40vh;
    position: relative;
  }
  .img-box1 {
    width: 30%;
  }

  .img-box2 {
    width: 30%;
  }
  .img-box3 {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .container2 {
    margin-top: 150px;
  }
  .slide {
    position: relative;
    background: transparent;
    color: #666;
    text-align: left;
    padding: 0;
  }
}

/*  */
/* アバウトエリア */
/*  */
.about {
  margin-top: 500px;
}

.lv1 {
  margin-bottom: 150px;
  display: inline-block;
  font-size: 4.5rem;
  border-bottom: 1px solid #666;
  padding: 1% 10%;
}
.lv2 {
  font-size: 2.7rem;
  display: block;
  padding: 0;
  border: none;
}
.sublv2 {
  font-size: 1.5rem;
  font-family: "Inria Sans", sans-serif;
}
.container3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.text-area {
  width: 50%;
  padding: 50px 20px 0;
  letter-spacing: 2px;
}

.text-area .text {
  margin: 50px 0 50px;
  line-height: 2;
  letter-spacing: 2px;
}
.img-area {
  width: 50%;
  text-align: center;
}

@media (max-width: 768px) {
  .container3 {
    flex-direction: column-reverse;
  }
  .text-area {
    width: 70%;
  }
  .lv1 {
    font-size: 2.8rem;
  }
  .lv2 {
    font-size: 2.6rem;
  }
}

.animation {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.animation.is-active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}
