@charset "utf-8";

.kv {
  position: relative;

  width: 100%;
  height: 100vh;
}
.kv img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lv1 {
  font-family: "Inria Sans", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  animation: tittleRaise 3s ease;
  text-align: right;
}

.grallry {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 50% 0 50%;
}

.box {
  width: 100%;
  height: 80vh;
  position: relative;
}
.Card1 {
  width: 60%;
  transform: translate(0, 30px);
  position: absolute;
  right: 0;
  background: #fff;
  width: 35%;
  padding: 2.5% 3.5% 10%;
  text-align: center;
}

.Card2 {
  width: 50%;
  transform: translate(0, 30px);
  position: absolute;
  left: 0;
  background: #fff;
  width: 40%;
  padding: 2.5% 3.5% 10%;
  text-align: center;
}
.Card3 {
  width: 50%;
  transform: translate(0, 30px);
  position: absolute;
  left: 40%;
  background: #fff;
  width: 40%;
  padding: 2.5% 3.5% 20%;
  text-align: center;
}
@media (max-width: 768px) {
  .Card1 {
    width: 50%;

    transform: translate(0, 30px);
  }
  .Card2 {
    width: 50%;

    transform: translate(0, 30px);
  }
  .Card3 {
    width: 60%;
    transform: translate(0, 30px);
  }
}

.Card1.is-active,
.Card2.is-active,
.Card3.is-active {
  transform: translate(0, 0);
  opacity: 1;
}

.Card1 p,
.Card2 p,
.Card3 p {
  text-align: left;
  font-size: 2.4rem;
  color: #666;
}
/*  */
/* セクション　アバウト */
/*  */
.about {
  width: 100%;
  margin-bottom: 50%;
}
.lv2 {
  margin-bottom: 10%;
}

.about-text-area {
  width: 100%;
  padding: 0 10%;
}
.about-text-area h3 {
  margin-bottom: 100px;
  text-align: left;
}
.text-box {
  display: flex;
  justify-content: center;
}
.text {
  text-align: left;
}
.about-text-area .more {
  margin-top: 100px;
  text-align: right;
}

@media (max-width: 768px) {
  .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-text-area h3 {
    margin-bottom: 30px;
  }
  .about-text-area .more {
    margin-top: 30px;
  }
}

/* セクション　ワークス */
.works {
  width: 100%;
  height: 100%;
  margin-bottom: 50%;
}

.card-area {
  display: flex;
  gap: 30px;
  align-items: stretch;
}

.works-card {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-top {
  flex-shrink: 0;
  padding: 4% 4% 10%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(107, 107, 107, 0.9);
}
.card-top h3 {
  min-height: 3em;
  display: flex;
  align-items: center;
}

.card-text {
  padding: 16px;
  margin-top: 10%;
}

.more {
  margin-top: auto;
  display: block;
  text-align: center;
}
.more a {
  /* border-bottom: 1px solid #666; */
  background: #c0c0c0;
  border-radius: 10px;
  padding: 5px 10px;
}
.more a:hover {
  background: #fff;
  transition: 0.8s;
}
@media (max-width: 640px) {
  .card-top {
    margin-bottom: 20%;
  }
  .card-area {
    display: block;
    padding: 0 20%;
  }
  .card-text {
    display: none;
  }
  .works-card .more {
    display: none;
  }
}

/* セクション　コンタクト */
.contact {
  width: 100%;
  margin-bottom: 10%;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.contact-text-area {
  width: 70%;
  margin: auto;
}
.contact-form {
  display: flex;
  width: 40%;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
table {
  width: 100%;
  object-fit: cover;
  border-collapse: separate;
  border-spacing: 0 20px;
}
.contact-form th {
  font-size: 2rem;
  color: #666;
  padding-right: 10px;
}
.contact-form td {
  border: none;
  border-bottom: 1px solid #666;
  font-size: 2rem;
  background-color: none;
  outline: none;
}
.contact-form textarea {
  width: 100%;
  height: auto;
  background: #cdcdcd;
}
.ja,
.en {
  margin: 50px 0 50px;
}
.btn {
  width: auto;
  display: inline-block;
  font-size: 2rem;
  background: none;
  text-align: end;
}
.btn:hover {
  color: #ffffff;
}

@media (max-width: 960px) {
  .container {
    display: block;
  }
  .contact-form {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
}
