@charset "utf-8";

.top-visual {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.top {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.lv1 {
  padding-top: 3%;
  margin: 2%;
  animation: slide 2s ease;
}
@keyframes slide {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.top p {
  padding-bottom: 3%;
  animation: slide 2s ease;
}
@keyframes slide {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.top-img1,
.top-img2,
.top-img3,
.top-img4,
.top-img5,
.top-img6 {
  position: absolute;
  width: 15%;
}

.top-img1 {
  width: 20%;
  left: 67%;
  top: -5%;
  animation: slide1 1.4s ease;
}
@keyframes slide1 {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.top-img2 {
  width: 27%;
  left: 34.5%;
  animation: slide2 1.8s ease;
}
@keyframes slide2 {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.top-img3 {
  width: 19%;
  left: 12%;
  animation: slide3 2s ease;
}
@keyframes slide3 {
  from {
    transform: translateY(-70%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.top-img4 {
  width: 23%;
  bottom: 0;
  left: 36%;
  animation: slide4 2s ease;
}
@keyframes slide4 {
  from {
    transform: translateY(-40%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.top-img5 {
  width: 18%;
  bottom: 0;
  left: 15%;
  animation: slide5 1.5s ease;
}
@keyframes slide5 {
  from {
    transform: translateY(-90%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.top-img6 {
  width: 29%;
  bottom: 0;
  left: 63%;

  animation: slide6 1.2s ease;
}
@keyframes slide6 {
  from {
    transform: translateY(-90%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 800px) {
  .top-img1 {
    width: 30%;
    left: 70%;
  }
  .top-img2 {
    min-width: 46%;
    left: 26%;
  }
  .top-img3 {
    width: 40%;
    left: -15%;
  }
  .top-img4 {
    width: 45%;
    bottom: -2%;
    left: 32%;
  }
  .top-img5 {
    width: 26%;
    bottom: 0;
    left: 2%;
  }
  .top-img6 {
    width: 30%;
    bottom: 15%;
    left: 70%;
  }
}
@media (max-width: 460px) {
  .top-img1 {
    width: 40%;
    left: 60%;
  }
  .top-img2 {
    min-width: 55%;
    left: 16%;
  }
  .top-img3 {
    width: 40%;
    left: -15%;
  }
  .top-img4 {
    width: 55%;
    bottom: -2%;
    left: 25%;
  }
  .top-img5 {
    width: 40%;
    bottom: 3%;
    left: -10%;
  }
  .top-img6 {
    width: 35%;
    bottom: 20%;
    left: 65%;
  }
}
/*  */
/* main */
/*  */

.lv2 {
  text-align: center;
  margin: 50% 0 20%;
}
.sp-works-area {
  display: none;
  margin: 20% 0 0;
}

.card1 {
  display: flex;
  justify-content: space-between;
}
.card2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.card3 {
  display: flex;
  justify-content: space-between;
}
.card4 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.card5 {
  display: flex;
  justify-content: space-between;
}
.card6 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.img-area {
  width: 40%;
}
.text-area {
  width: 50%;
  display: grid;
  align-content: space-evenly;
}
.text-area span {
  display: block;
  width: 100%;
  height: 1px;
  background: #666;
  margin: 3% 0 3%;
}
.lv3 {
  font-size: 2.4rem;
}
.gap {
  margin-bottom: 15%;
  padding: 0 7%;
  gap: 5%;
}
@media (max-width: 960px) {
  .gap {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .pc-works-area {
    display: none;
  }
  .sp-works-area {
    display: block;
  }
  .sp-card {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20%;
    background-color: #fff;
    padding: 5% 3% 6% 3%;
  }
  .sp-card:hover .card-img img {
    transform: scale(1.1);
  }
  .text-area {
    width: 100%;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .lv3 {
    font-size: 1.5rem;
  }
}
/* ホバーアクション　画像ズーム */
.card-img {
  overflow: hidden;
}
.card-img img {
  transition: transform 0.5s ease;
}
.card-img:hover img,
.card-img:hover img {
  transform: scale(1.1);
}

/*  */
/* remove Area */
/*  */
.remove-area {
  margin: 30% 0 10%;
}
.card-box {
  padding: 15%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  animation: slide 2s ease;
  overflow: hidden;
}

.card img:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
.card-text {
  padding: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  .card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    margin-bottom: 20%;
  }
}
