@charset "utf-8";

.top {
  position: relative;
}
.top-img1 {
  width: 40%;
  position: absolute;
  top: 0;
  animation: slide 2s ease-out;
}
@keyframes slide {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.tittle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lv1,
.tittle p {
  margin-bottom: 5%;
  animation: slide 2s ease;
}
@keyframes slide {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.top-img2 {
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  animation: slide2 2.5s ease;
}
@keyframes slide2 {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@media (max-width: 400px) {
  .top-img1,
  .top-img2 {
    width: 70%;
  }
}
/*  */
/* main */
/*  */

.lv2 {
  text-align: center;
  margin: 50% 0 20%;
}
.sp-works-area {
  display: none;
  margin: 20% 0 0;
}

.card1 {
  display: flex;
  justify-content: space-between;
}
.card2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.img-area {
  width: 40%;
}
.text-area {
  width: 50%;
  display: grid;
  align-content: space-evenly;
}
.text-area span {
  display: block;
  width: 100%;
  height: 1px;
  background: #666;
  margin: 3% 0 3%;
}
.lv3 {
  font-size: 2.4rem;
}
.gap {
  margin-bottom: 15%;
  padding: 0 7%;
  gap: 5%;
}
@media (max-width: 960px) {
  .gap {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .pc-works-area {
    display: none;
  }
  .sp-works-area {
    display: block;
  }
  .sp-card {
    width: 70%;
    margin-bottom: 20%;
    transform: translateX(20%);
    background-color: #fff;
    padding: 5% 3% 6% 3%;
  }
  .sp-card:hover .card-img img {
    transform: scale(1.1);
  }
  .text-area {
    width: 100%;
    opacity: 1 !important;
    visibility: visible !important;
  }
  .lv3 {
    font-size: 1.5rem;
  }
}
/* ホバーアクション　画像ズーム */
.card-img {
  overflow: hidden;
}
.card-img img {
  transition: transform 0.5s ease;
}
.card-img:hover img,
.card-img:hover img {
  transform: scale(1.1);
}

/*  */
/* remove Area */
/*  */
.remove-area {
  margin: 40% 0 10%;
}
.card-box {
  padding: 15%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  animation: slide 2s ease;
  overflow: hidden;
}

.card img:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}
.card-text {
  padding: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  .card-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    margin-bottom: 20%;
  }
}
